@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: black;   */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @font-face {
  font-family: "Regular 400";
  src: url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat&family=Poppins:ital,wght@1,400;1,500;1,700&family=Roboto+Flex:opsz@8..144&display=swap");
} */
